body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 270px;
	margin-bottom: px;
}

form .text-entry {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.checkbox-child {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 6px;
	margin: 2px;
}

input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

img {
	max-width: 300px;
}

.checkbox-form {
	display: flex;
	flex-direction: column
}

.aboutMeCheckbox {
	display: flex;
	align-items: center;
	margin-bottom: 3px;

}

h4 {
	margin-bottom: 5px;
}

p {
	margin-top: 2px;
}

.part5 {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: rgb(255, 246, 126);
	border: purple solid 5px;
}